<?xml version="1.0"?>
<launch>

    <group ns="helm">
        <!--
            # Load Helm configuration

        -->
        <rosparam command="load" file="$(find mvp_helm)/configuration/all.yaml"/>

        <!--
            # Load behavior configurations

            Behaviors will read the parameters by their name. Therefore, ros
            parameters should be loaded in the same namespace as their names
            defined in the helm configuration file.

            Say, this is a behavior defined in the helm:
            behaviors:
              - name: bhv00
                plugin: helm::PathFollowing
                states:
                - { name: survey, priority: 1 }
                - { name: surface, priority: 1 }

            configuration for the behavior "bhv00" should be under
            "/helm/bhv00" name. Below, is one way of doing it. The whole helm
            with its behaviors can be configured in one big yaml file.

        -->
        <rosparam ns="bhv00" command="load" file="$(find mvp_helm)/param/bhv00.yaml"/>
        <rosparam ns="bhv01" command="load" file="$(find mvp_helm)/param/bhv01.yaml"/>
        <rosparam ns="bhv02" command="load" file="$(find mvp_helm)/param/bhv02.yaml"/>
    </group>


</launch>